<aside class="sidebar" id="sigat-sidebar">
  <div class="logo-box">
    <a routerLink="/dashboard">
      <img src="/assets/images/logo-sigat.png" alt="SIGAT">
    </a>
  </div>

  <nav class="menu">
    <div class="menu-group">
      <div class="menu-heading">
        <span class="menu-index">01</span>
        <img class="menu-heading-icon" src="assets/icons/icon-operaciones.png" alt="">
        <h4>Operaciones</h4>
      </div>
      <a routerLink="/compras" routerLinkActive="active-link">
        <img class="menu-link-icon" src="assets/icons/icon-compras.png" alt="">
        <span>Compras</span>
      </a>
      <a routerLink="/ventas" routerLinkActive="active-link">
        <img class="menu-link-icon" src="assets/icons/icon-ventas.png" alt="">
        <span>Ventas</span>
      </a>
    </div>

    <div class="menu-group">
      <div class="menu-heading">
        <span class="menu-index">02</span>
        <img class="menu-heading-icon" src="assets/icons/icon-maestros.png" alt="">
        <h4>Maestros</h4>
      </div>
      <a routerLink="/productos" routerLinkActive="active-link">
        <img class="menu-link-icon" src="assets/icons/icon-productos.png" alt="">
        <span>Producto</span>
      </a>
      <a routerLink="/proveedores" routerLinkActive="active-link">
        <img class="menu-link-icon" src="assets/icons/icon-proveedores.png" alt="">
        <span>Proveedores</span>
      </a>
      <a routerLink="/clientes" routerLinkActive="active-link">
        <img class="menu-link-icon" src="assets/icons/icon-clientes.png" alt="">
        <span>Clientes</span>
      </a>
    </div>

    <div class="menu-group">
      <div class="menu-heading">
        <span class="menu-index">03</span>
        <img class="menu-heading-icon" src="assets/icons/icon-inventario.png" alt="">
        <h4>Inventario</h4>
      </div>
      <a routerLink="/inventario" routerLinkActive="active-link">
        <img class="menu-link-icon" src="assets/icons/icon-stock.png" alt="">
        <span>Stock general</span>
      </a>
    </div>

    <div class="menu-group">
      <div class="menu-heading">
        <span class="menu-index">04</span>
        <img class="menu-heading-icon" src="assets/icons/icon-reportes.png" alt="">
        <h4>Reportes</h4>
      </div>
      <a routerLink="/reportes/ventas" routerLinkActive="active-link">
        <img class="menu-link-icon" src="assets/icons/icon-ventas.png" alt="">
        <span>Reporte ventas</span>
      </a>
      <a routerLink="/reportes/compras" routerLinkActive="active-link">
        <img class="menu-link-icon" src="assets/icons/icon-compras.png" alt="">
        <span>Reporte compras</span>
      </a>
      <a routerLink="/reportes/bajo-stock" routerLinkActive="active-link">
        <img class="menu-link-icon" src="assets/icons/icon-bajo-stock.png" alt="">
        <span>Bajo stock</span>
      </a>
    </div>

    <div class="menu-group" *ngIf="isAdmin">
      <div class="menu-heading">
        <span class="menu-index">05</span>
        <img class="menu-heading-icon" src="assets/icons/icon-seguridad.png" alt="">
        <h4>Seguridad</h4>
      </div>
      <a routerLink="/usuarios" routerLinkActive="active-link">
        <img class="menu-link-icon" src="assets/icons/icon-seguridad.png" alt="">
        <span>Usuarios</span>
      </a>
    </div>
  </nav>

  <div class="logout-area">
    <button type="button" class="logout-btn" (click)="logout()">
      Cerrar sesion
    </button>
  </div>
</aside>
