<section class="module-page">
  <div class="module-top">
    <div class="title-block">
      <span class="module-eyebrow">Operaciones</span>
      <h2>Ventas</h2>
    </div>

    <div class="actions">
      <a class="secondary-btn" routerLink="/ventas">Listado de ventas</a>
    </div>
  </div>

  <div class="table-shell purchase-form-shell">
    <div class="section-title">Datos generales</div>

    <div class="form-grid buy-grid">
      <select [(ngModel)]="venta.clienteId">
        <option [ngValue]="null">Cliente</option>
        <option *ngFor="let c of clientes" [ngValue]="c.id">{{ c.nombre }} {{ c.apellido }}</option>
      </select>
    </div>

    <div class="section-title second">Detalle venta</div>

    <div class="form-grid buy-grid">
      <select [(ngModel)]="detalle.productoId">
        <option [ngValue]="null">Producto</option>
        <option *ngFor="let p of productos" [ngValue]="p.id">{{ p.nombre }}</option>
      </select>

      <input type="number" min="1" [(ngModel)]="detalle.cantidad" placeholder="Cantidad">
      <input type="number" [(ngModel)]="detalle.precioUnitario" placeholder="Precio unitario">
      <button class="icon blue" (click)="agregarDetalle()">+</button>
    </div>

    <div class="mini-list details-list" *ngIf="detalles.length">
      <div class="mini-item detail-row" *ngFor="let d of detalles; let i = index">
        <span>{{ d.productoNombre }}</span>
        <span>Cantidad: {{ d.cantidad }}</span>
        <span>S/ {{ d.precioUnitario }}</span>
        <span>S/ {{ d.subtotal }}</span>
        <button class="icon red" (click)="eliminarDetalle(i)">&#128465;</button>
      </div>
    </div>

    <p class="form-error" *ngIf="error">{{ error }}</p>

    <div class="footer-actions">
      <div class="total-box">TOTAL: {{ total() }}</div>
      <button class="primary-btn" (click)="guardar()">Guardar venta</button>
    </div>
  </div>
</section>
